examples/osc-example.json
[
    {
        "id": "osc-example-flow",
        "type": "tab",
        "label": "OSC Example",
        "disabled": false,
        "info": "示例流程：OSC 通信"
    },
    {
        "id": "node-1",
        "type": "osc-in",
        "z": "osc-example-flow",
        "name": "OSC In",
        "port": "9001",
        "address": "/ventuz/*",
        "x": 150,
        "y": 100,
        "wires": [["node-2"]]
    },
    {
        "id": "node-2",
        "type": "debug",
        "z": "osc-example-flow",
        "name": "OSC Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "node-3",
        "type": "inject",
        "z": "osc-example-flow",
        "name": "Send Test Message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/ventuz/broadcast",
        "payload": "Hello Ventuz!",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [["node-4"]]
    },
    {
        "id": "node-4",
        "type": "osc-out",
        "z": "osc-example-flow",
        "name": "OSC Out",
        "host": "127.0.0.1",
        "port": "9000",
        "address": "/ventuz/broadcast",
        "x": 400,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "node-5",
        "type": "comment",
        "z": "osc-example-flow",
        "name": "OSC 示例",
        "info": "此示例演示如何使用 OSC 节点进行通信。\n\n1. OSC In 节点监听 OSC 消息\n2. OSC Out 节点发送 OSC 消息\n3. 使用 Inject 节点触发测试消息\n\n支持中文字符串（BEUC 编码）",
        "x": 140,
        "y": 40,
        "wires": []
    }
]
